html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: $paleBlue;
  background-image: url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: $font;
  line-height: 1.5;

  * {
    margin: 0;
    padding: 0;
  }

  @include breakpoint(medium) {
    background-image: url("../images/pattern-background-desktop.svg");
  }
}

section {
  border-radius: 20px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 71px;
  margin-bottom: 71px;
  max-width: 327px;

  @include breakpoint(medium) {
    width: 450px;
    margin: auto;
    margin-top: 102px;
    margin-bottom: 102px;
  }

  .image {
    padding-bottom: 38px;

    @include breakpoint(medium) {
      padding-bottom: 54px;
    }
    img {
      width: 100%;
      border-start-start-radius: 20px;
      border-start-end-radius: 20px;
    }
  }

  h2 {
    text-align: center;
    font-weight: 900;
    font-size: 21px;

    @include breakpoint(medium) {
      font-size: 26px;
    }
  }

  p {
    text-align: center;
    padding: 0px 38px;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 28px;

    @include breakpoint(medium) {
      font-size: 1rem;
      margin-bottom: 26px;
    }
  }

  .plan {
    background-color: $veryPaleBlue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 24px;
    border-radius: 10px;
    font-size: 12px;

    @include breakpoint(medium) {
      margin: 23px 30px;
    }

    .cost {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        color: $desaturatedBlue;
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }
  }

  a {
    &:hover {
      cursor: pointer;
      text-decoration-line: none;
    }
  }
  .btn {
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    margin-bottom: 36px;

    @include breakpoint(medium) {
      margin-left: 48px;
      margin-right: 48px;
      margin-bottom: 28px;
    }

    input {
      width: 100%;
      height: 50px;
      border-radius: 12px;
      background-color: $brightBlue;
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }
    }
  }

  h4 {
    font-size: 11px;
    text-align: center;
    font-weight: 300;
    padding-bottom: 48px;
    color: $desaturatedBlue;

    &:hover {
      cursor: pointer;
    }

    @include breakpoint(medium) {
      padding-bottom: 54px;
    }
  }
}
