// Primary
$paleBlue: #e0e8ff;
$brightBlue: #3829e0;

// Neutral
$veryPaleBlue: #f5f7ff;
$desaturatedBlue: #7280a7;
$darkBlue: #1f2f56;

//Font
$font: "Red Hat Display", sans-serif;

//Breakpoints
$breakpoints: (
  small: 499px,
  medium: 699px,
  large: 999px,
);

//Mixin
@mixin breakpoint($size) {
  $breakpoint-value: map-get(
    $map: $breakpoints,
    $key: $size,
  );
  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
